#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pick-post-status {
  margin-left: auto;
}

.post-card-container {
  border: 5px solid grey;
  margin-top: 8px;
}

.post-textarea {
  width: 100%;
  resize: none;
}

.post-update-button {
  display: flex;
  justify-content: end;
}

.post-update-button button:hover {
  background-color: blue;
}

.post-form textarea {
  resize: none;
  width: 100%
}

button {
  min-width: 5em;
  min-height: 2em;
}

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
}