#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.post-card-container {
  border: 5px solid grey;
  margin-top: 8px;
}

.post-textarea {
  width: 100%;
  resize: none;
}

button {
  min-width: 5em;
  min-height: 2em;
}